<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/public.css') }}">
    {%block styles%}{%endblock%}
    {%block tilte%}{%endblock%}
    {%block jquery%}{%endblock%}
</head>
<body>
    <header>
        <h1>Smart Home</h1>
        <ul>
            <li><a href="{{url_for('home_page')}}">Home</a></li>
            <li><a href="{{url_for('device_table_page')}}">Device Table</a></li>
            <li><a href="{{url_for('login_page')}}">Login</a></li>
            <li><a href="{{url_for('detect_motion')}}">Motion detection simulation</a></li>
        </ul>
    </header>
    {%block content%}{%endblock%}
</body>
</html>